:root {
  --background-color: #ffffff;
  --text-color: #333333;
  --secondary-text-color: #666666;
  --button-background: #007bff;
  --button-text: #ffffff;
  --button-background-hover: #0056b3;
  --border-color: #e0e0e0;
  --modal-background: #ffffff;
}

[data-theme="dark"] {
  --background-color: #1e1e1e;
  --text-color: #e0e0e0;
  --secondary-text-color: #a0a0a0;
  --button-background: #505050;
  --button-text: #ffffff;
  --button-background-hover: #333333;
  --border-color: #444444;
  --modal-background: #2e2e2e;
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
